<app-header title="Card"></app-header>
<ion-content [fullscreen]="true">
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi repellat libero et voluptatibus sapiente. Assumenda odio nemo fuga excepturi dolores tenetur distinctio molestias, nulla beatae dolore aperiam laboriosam inventore rerum.
    </ion-card-content>

  </ion-card>


  <ion-card>
    <ion-img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/449BBgnc3Q1ha2IN9rh3bR/e1077125021162ce2d59820739c316e7/ACEC_Keyart_00_00_00_mobile.jpg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis architecto iste natus nostrum rerum sint molestias iusto officia, fugiat voluptas deleniti tempore expedita, inventore ut aliquam. Doloribus reprehenderit deleniti harum.
    </ion-card-content>
  </ion-card>
</ion-content>
